.reward-history-container {
    margin-top: 20px;
  }
  
  .reward-history-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reward-history-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .reward-history-table th, .reward-history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .reward-history-table th {
    background-color: #f2f2f2;
  }
  
  .reward-history-delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reward-history-delete-button:hover {
    background-color: #d32f2f;
  }

  .new-reward-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .new-reward-container h1 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="number"],
  .form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .p5-balance {
    margin-top: 5px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .buttons button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons .cancel {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button[type="submit"]:hover,
  .buttons .cancel:hover {
    background-color: #0056b3;
  }
  
  